<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
body {
    background-image: url("{{=userdata.background_image}}");
    background-color: #c4c0b8;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: 100% auto;
	font: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    width:100%;
}
.singlepost {
    display:inline-block;
    position: relative;
}
.postTop {
	position:relative;
    display:block;
	width: 900px;
	margin: auto;
	padding-top:5px;
	padding-bottom:5px;
	right: 0px;
    height:100%;
}
.postMain {
    display:inline-block;
	background-color: #FFFFFF;
	width: 900px;
	padding-top: 0px;
	padding-left:5px;
	padding-right:5px;
	float:right;
	margin-right:30px;
}
.cornerimage {
	position: relative;
    margin-left: 0;
	padding-top:12px;
    right:440px;
}
#postimage {
    width: 100%;
    height: auto;
    max-width: 100%;
}
#posttext {
	padding-left:10px;
	padding-right:10px;
	margin:0;
	padding-top:5px;
	padding-bottom:5px

}
#profileimage {
    width: 48px;
    height: 48px;
	padding-left:12px;
    padding-bottom: 5px;
    padding-top: 5px;
}
</style>
</head>

<body>

    <div class="singlepost">
        <div class="postTop">
            <img class="cornerimage" border="0" src="http://i.imgur.com/8WVnF5o.png" alt="" width="200px">
            <div class="postMain">
                <table width="100%" border="0" style="margin-bottom:20px; margin:0;">
                    <tr>
                        <td width="48px" style="float:left; padding-left:0; margin-left:0;"><img id="profileimage" \ src="{{=results["statuses"][x]["user"]["profile_image_url"]}}" alt="" width="48px" height="48px" /></td>
                        <td style="padding-left:0; margin-left:0; text-align: left; margin-top: 0px;"><strong><h1>{{=results["statuses"][x]["user"]["screen_name"]}}</h1></strong></td>
                    </tr>
                </table>
                {{if results["statuses"][x]["entities"].has_key("urls"):}}
                        {{if len(results["statuses"][x]["entities"]["urls"])>0:}}
                            {{if results["statuses"][x]["entities"]["urls"][0].has_key("expanded_url"):}}
                                {{word = results["statuses"][x]["entities"]["urls"][0]["expanded_url"]}}
                                {{if word.startswith("https://www.youtube.com/watch?v="):}}
                                    {{word = word[32:]}}
                                    {{link = "http://www.youtube.com/embed/"+word}}
                                    <iframe src={{=link}}></iframe>
                                {{elif word.startswith("http://www.dailymotion.com/video/"):}}
                                    {{word = word[33:]}}
                                    {{link = "http://www.dailymotion.com/embed/video/"+word}}
                                {{pass}}
                            {{pass}}
                        {{pass}}
                {{pass}}
                {{if results["statuses"][x]["entities"].has_key("media"):}}
                    <img id="postimage" src="{{=results["statuses"][x]["entities"]["media"][0]["media_url_https"]}}" alt="">
                {{pass}}

                <p id="posttext">{{=results["statuses"][x]["text"]}}</p>
                <p id="posttext"><em>{{=convertdatetime(results["statuses"][x]["created_at"])}}</em></p>


            </div>
        </div>
    </div>
</body>
</html>
