<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenHashBoard Get Tweet</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap-theme.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
      <style type="text/css">
body {
    background-image: url("{{=userdata.background_image}}");
    background-color: #c4c0b8;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: 100% auto;
	font: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    width:100%;
}
.singlepost {
    display:inline-block;
    position: relative;
}
.postTop {
	position:relative;
    display:block;
	width: 900px;
	margin: auto;
	padding-top:5px;
	padding-bottom:5px;
	right: 0px;
    height:100%;
}
.postMain {
    display:inline-block;
	background-color: #FFFFFF;
	width: 900px;
	padding-top: 0px;
	padding-left:5px;
	padding-right:5px;
	float:right;
	margin-right:30px;
}
.cornerimage {
	position: relative;
    margin-left: 0;
	padding-top:12px;
    right:440px;
}
#postimage {
    width: 100%;
    height: auto;
    max-width: 100%;
}
#posttext {
	padding-left:10px;
	padding-right:10px;
	margin:0;
	padding-top:5px;
	padding-bottom:5px

}
#profileimage {
    width: 48px;
    height: 48px;
	padding-left:12px;
    padding-bottom: 5px;
    padding-top: 5px;
}
</style>
  </head>
  <body background="{{=userdata.background_image}}">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    {{if userdata.show_header is True:}}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="javascript:history.back()"><button type="button" class="btn btn-primary" style="margin-top:7px;"><i class="fa fa-arrow-left"></i> Back</button></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right"
                  {{if userdata.show_logo_on_board is False:}}
                  style="display:none;"
                  {{pass}}
                  >
            <h4 style="margin-top: 7px; color: white; padding-right: 10px; font-weight: bold; margin-bottom: 0;">
                <img src="
                {{if userdata.logo_image is "":}}
                http://i.imgur.com/k8lfGbd.png"
                {{else:}}
                {{=userdata.logo_image}}
                {{pass}}
                height="35px" width="35px" style="margin-top: -1px;"/>&nbsp;{{=userdata.logo_name}}</h4>
          </ul>
            <h3 style="text-align: center; color:white; up:10px; margin-top:10px; margin-bottom:0;"></h3>
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}
    </div>
    {{pass}}
    <div style="
    {{if userdata.show_header is False:}}
            margin-top: -40px;
    {{pass}}}
    ">

    <div class="singlepost">
        <div class="postTop">
            <img class="cornerimage" border="0" src="http://i.imgur.com/8WVnF5o.png" alt="" width="200px">
            <div class="postMain">
                <table width="100%" border="0" style="margin-bottom:20px; margin:0;">
                    <tr>
                        <td width="48px" style="float:left; padding-left:0; margin-left:0;"><img id="profileimage" \ src="{{=results["statuses"][x]["user"]["profile_image_url"]}}" alt="" width="48px" height="48px" /></td>
                        <td style="padding-left:0; margin-left:0; text-align: left; margin-top: 0px;"><strong><h1>{{=results["statuses"][x]["user"]["screen_name"]}}</h1></strong></td>
                    </tr>
                </table>
                {{if results["statuses"][x]["entities"].has_key("urls"):}}
                        {{if len(results["statuses"][x]["entities"]["urls"])>0:}}
                            {{if results["statuses"][x]["entities"]["urls"][0].has_key("expanded_url"):}}
                                {{word = results["statuses"][x]["entities"]["urls"][0]["expanded_url"]}}
                                {{if word.startswith("https://www.youtube.com/watch?v="):}}
                                    {{word = word[32:]}}
                                    {{link = "http://www.youtube.com/embed/"+word}}
                                    <iframe src={{=link}}></iframe>
                                {{elif word.startswith("http://www.dailymotion.com/video/"):}}
                                    {{word = word[33:]}}
                                    {{link = "http://www.dailymotion.com/embed/video/"+word}}
                                {{pass}}
                            {{pass}}
                        {{pass}}
                {{pass}}
                {{if results["statuses"][x]["entities"].has_key("media"):}}
                    <img id="postimage" src="{{=results["statuses"][x]["entities"]["media"][0]["media_url_https"]}}" alt="">
                {{pass}}

                <p id="posttext">{{=results["statuses"][x]["text"]}}</p>
                <p id="posttext"><em>{{=convertdatetime(results["statuses"][x]["created_at"])}}</em></p>


            </div>
        </div>
    </div>
    </div>
  </body>
</html>
