<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEBUG: IP TEST</title>
</head>
<body>
<p>Yout IP is {{=ip}}</p>
<p>You are in local loopback?: {{=var}}</p>
</body>
</html>