{{extend 'layout.html'}}
<h1>Open Source Dependencies Credit</h1>
<p><b>Web2Py</b><br />
    <a href="http://www.web2py.com/">http://www.web2py.com/</a><br />
    Licensed under <a href="http://www.gnu.org/licenses/lgpl.html">LGPLv3 License</a>,<br />
    Full liscence documentation avalable at <a href="http://www.web2py.com/init/default/license">
        http://www.web2py.com/init/default/license</a>.
</p>
<p><b>HTML Bootstrap v2.3.2</b><br />
    <a href="http://getbootstrap.com/2.3.2/getting-started.html">http://getbootstrap.com/2.3.2/getting-started.html</a><br />
    Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>,<br />
    documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
</p>
<p><b>Font Awesome</b><br />
    <a href="https://fortawesome.github.io">https://fortawesome.github.io</a><br />
    Licensed under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>,<br />
    Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT Liscence</a>,<br />
    documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
</p>
<p><b>Tweepy</b><br />
    <a href="http://tweepy.org/">http://tweepy.org/</a><br />
    Licensed under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>,<br />
    Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT Liscence</a>.
</p>
<h1>Legal Disclaimer</h1>
<p>
    Copyright (c) {{=year}}, Regents of the University of California for CMPS 183 <br />
    All rights reserved. <br />
    DISCLAIMER: THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
    IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
    PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
    INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
    SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
    THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
    ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

</p>