<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
body {
	position: relative;
	background-color: #555;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	font-size: xx-large;
	word-spacing: 0em;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	z-index: 10;
}
#signout {

}
#signin {

}
#settingsprepage {

}
#settingsoauth {

}
#settingsuser {

}
</style>
</head>
<body>
<p style="color:#666">
    {{for s in reversed(pastsearches):}}
        {{if countmain > 0:}}
            #{{=s.search_string}}
            {{countmain = countmain - 1}}
        {{pass}}
    {{pass}}
</p>
<div class="content">
    <img src="http://i.imgur.com/jGdhhGe.png" style="width:70%; max-width:350px;" />
    <h1>OpenHashBoard</h1>
	{{if auth.user_id is None:}}
	<!-- Logged out -->
	<div id="signout">
					<p>
					{{=A('Sign In', _class='btn btn-default', _href=URL('default', 'user', args=['login']))}}
					{{=A('Sign Up', _class='btn btn-primary', _href=URL('default', 'user', args=['register']))}}
					</p>
					</div>
	{{else:}}
	<div id="signin" class = "signinDiv">
		<p><input name="search" type="text" id="searchitem" style="color: black; vertical-align:middle;" placeholder="Search for a Tag Here"/></p>
		<p> <button type="button" class="btn  btn-default" onclick="myFunction()">Search</button>
			<button type="button" class="btn btn-warning orangeset"><i class="fa fa-cog"></i> Settings</button>
		</p>
        <script type="text/javascript">
            function myFunction()
            {
                var search = document.getElementById("searchitem").value;
                var newsearch = search;
                if (search.charAt(0)=='#')
                {
                    newsearch = search.slice(1, search.length)
                }
                window.location = "../search/index/" + newsearch;
            }
        </script>
        <table width="100%" border="0" style="font-weight: lighter">
          <tr>
            <td width="30%" style="text-align:center">
                <bold><h3>Past Hashtag</h3></bold>
                <p style="font-size: medium">
                {{for s in reversed(pastsearches):}}
                    {{if s.user_id == auth.user_id:}}
                        {{if countpast > 0:}}
                            <a href="{{=URL('search', 'index', args=[s.search_string])}}" style="color:white">
                                #{{=s.search_string}}
                            </a>
                            {{countpast = countpast - 1}}
                        {{pass}}
                        <br>
                    {{pass}}
                {{pass}}
                </p>
            </td>
            <td width="30%" style="text-align:center">
                <h3>Favorite Hashtag</h3>
                <p style="font-size: medium;">
                {{for s in reversed(pastsearches):}}
                    {{if s.user_id == auth.user_id and s.favorite == True:}}
                        {{if countfavorite > 0:}}
                            <a href="{{=URL('search', 'index', args=[s.search_string])}}" style="color:white">
                                #{{=s.search_string}}
                            </a>
                            {{countfavorite = countfavorite - 1}}
                        {{pass}}
                        <br>
                    {{pass}}
                {{pass}}
                </p>
            </td>
            <td width="30%" style="text-align:center">
                <h3>Shared Tweets</h3>
                {{for s in reversed(sharedsearches):}}
                    <p style="font-size: medium;">
                    {{if countshared > 0:}}
                       <a href="{{=URL('search', 'index', args=[s.search_string])}}" style="color:white">#{{=s.search_string}}</a><br />
                        {{countshared = countshared - 1}}
                    {{pass}}
                    </p>
                {{pass}}
            </td>
          </tr>
        </table>





    </div>
	<div id="settingsprepage" class = "defaultDiv"><p>
		<a href={{=URL('default', 'boardsettings', user_signature=True)}}><button type="button" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;&nbsp;&nbspCustomize Board View</button></a>
		<p><button type="button" class="btn btn-primary oauth" style="display: none;"><i class="fa fa-database" ></i>&nbsp;&nbsp;&nbsp;Set OAUTH Tokens</button></p>
        <p><button type="button" class="btn btn-danger usetting"><i class="fa fa-cogs" ></i>&nbsp;&nbsp;&nbsp;User Settings</button></p>
		<a href={{=URL('default', 'user', args=['logout'])}}><p><button type="button" class="btn btn-danger"><i class="fa fa-sign-out" ></i>&nbsp;&nbsp;&nbsp;Log Out</button></p></a>
        <a href="{{=URL('default', 'credits')}}"><p><button type="button" class="btn btn-info"><i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;Credits</button></p></a>
		<p><button type="button" class="btn btn-warning back"><i class="fa fa-arrow-left"></i> Back</button>
		</p></div>
	<div id="settingsoauth" class="oauthDiv">
		<p><button type="button" class="btn btn-primary"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Get Twitter OAUTH Token</button></p>
		<p><button type="button" class="btn btn-warning back"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back</button>
		</p></div>
    <div id="settingsuser" class="usersettingDiv">
		<a href={{=URL('default', 'user', args=['profile'])}}><p><button type="button" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;Change Profile Settings</button></p></a>
		<a href={{=URL('default', 'user', args=['change_password'])}}><p><button type="button" class="btn btn-danger"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Change Password</button></p></a>
        <p><button type="button" class="btn btn-warning back"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
	{{pass}}
</div>

<script>
$('.usersettingDiv').hide();
$('.oauthDiv').hide();
$('.defaultDiv').hide();
$('.oauth').click(function () {
    $('.defaultDiv').hide();
    $('.signinDiv').hide();
    $('.oauthDiv').show(1000);
});
$('.usetting').click(function () {
    $('.defaultDiv').hide();
    $('.signinDiv').hide();
    $('.usersettingDiv').show(1000);
});
$('.back').click(function () {
    $('.usersettingDiv').hide();
    $('.signinDiv').show(1000);
    $('.oauthDiv').hide();
    $('.defaultDiv').hide();
});
$('.orangeset').click(function () {
    $('.defaultDiv').show(1000);
    $('.signinDiv').hide();
    $('.usersettingDiv').hide();
});
</script>

</body>
</html>
