<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
html,body {
	width: 100%;
    height: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
	position: relative;
	background-color: #555;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	word-spacing: 0em;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	z-index: 10;
}
#disclaimermobile {
    display: none;
}
#logomobile {
    display: none;
}
@media screen and (max-width: 800px) and (min-width: 401px) {
    #logoleft {
        display: none;
    }
    #userright {
        padding-left: 50px;
    }
    #disclaimermobile {
        display: block;
        font-size: 80%;
    }
    #logomobile {
        display: block;
        margin-top: -40px;
    }
}
@media screen and (max-width: 400px) {
    #logoleft {
        display: none;
    }
    #userright {
        padding-left: 30px;
    }
    #disclaimermobile {
        display: block;
        font-size: 80%;
    }
    #logomobile {
        display: block;
        margin-top: -40px;
    }
}
</style>
</head>
<body>
<p style="color:#666">
{{for s in reversed(pastsearches):}}
        {{if s < 2000:}}
            #{{=s.search_string}}
        {{pass}}
    {{pass}}
</p>
<div class="content" style="text-align: center; margin 0;">
    <div id="logomobile">
        <img src="http://i.imgur.com/jGdhhGe.png" width="150" />
        <h2 style="margin-top: 2px">{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}</h2>
    </div>
    <table width="93%" border="0">
  <tr>
    <td width="48%" id="logoleft" style="text-align:center"><img src="http://i.imgur.com/jGdhhGe.png" width="300" />
    <h1 style="text-align:center; padding-left: 30px; padding-top: 10px;">{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}</h1>
    <p style="padding-left: 30px; padding-right: 30px; font-size: 80%;">
        Copyright (c) 2015, Regents of the University of California for CMPS 183 <br />
        All rights reserved.<br />
        DISCLAIMER: THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
        IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
        PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY
        DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
        PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
        OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGE.</p>
    </td>
    <td width="48%" id="userright">
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                ##form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
            pass
        pass
        =form
        }}
        <p id="disclaimermobile">Copyright (c) 2015, Regents of the University of California for CMPS 183 <br />
        All rights reserved.<br />
        DISCLAIMER: THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
        IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
        PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY
        DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
        PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
        OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGE.</p>
    </td>
  </tr>
</table>

</div>
</div>
</body>
</html>
